.button {
    flex-wrap: nowrap;
    border-radius: 24px;
    border: none;
    padding: 12px 16px;
    width: 125px;
    height: 48px;

    box-shadow: 0 0 8px 0 rgba(58, 224, 174, 0.2);
    background: var(--roxo-primário);   

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--branco);
}