.text-input {
    border: 1px solid var(--cinza-claro);
    border-radius: 24px;
    padding: 12px 16px;
    width: 360px;
    max-width: 100%;
    background-color: transparent;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--cinza-claro);
}

.text-input::placeholder {
    color: var(--cinza-claro);
}